$background: "/img/wallpaper.jpg";
body {
  background-color: aliceblue;
}
.wrapper {
  margin: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  .logo {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    margin: 10px;
  }
  .logins {
    list-style: none;
    display: flex;
    vertical-align: center;
    margin: 10px;
    cursor: pointer;
    transition: opacity 500ms ease;
    color: black;
    text-decoration: none;
    padding-left: 0;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
      color: black;
    }
    li {
      display: inline;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .navigation {
    list-style: none;
    cursor: pointer;
    display: flex;
    transition: opacity 500ms ease;
    color: black;
    padding-left: 0;
    margin: 10px;
    &:hover {
      opacity: 0.5;
      text-decoration: none;
      color: black;
    }
    li {
      display: inline;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.Nav_link {
  cursor: pointer;
  transition: opacity 500ms ease;
  color: black;
  text-decoration: none;
  padding-left: 0;
  margin: 8px;
  &:hover {
    opacity: 0.5;
    text-decoration: none;
    color: black;
  }
}
.container {
  position: absolute;
  bottom: 30%;
  width: 100%;
}
.presentation {
  margin: 50px 0;
  background: url($background) no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center center;
  &::after {
    content: "Web-облако";
    position: absolute;
    top: 20%;
    left: 15%;
    width: 400px;
    font-size: 45px;
    font-weight: 600;
    color: aliceblue;
  }
  &::before {
    content: "Не храните все в себе, храните у нас";
    position: absolute;
    top: 27%;
    left: 15%;
    width: 400px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  z-index: 2;
}

.card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
}
footer {
  text-align: center;
  margin: 100px;
}
