$wallpaper: "./assets/images/wallpaper.jpg";

@mixin nav-link {
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: black;
  margin: 8px;

  &:hover {
    opacity: 0.5;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .logo {
    font-weight: 500;
    font-size: 30px;
    margin: 10px;

    .nav-link {
      @include nav-link;
    }
  }

  .auth {
    display: flex;
    vertical-align: center;
    margin: 10px;
    font-size: 20px;

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-link {
        @include nav-link;
      }
    }
  }
}

main {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  background: url($wallpaper) 0 0 / cover no-repeat;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 10px;
  user-select: none;
}
